<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coastok Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="../../../assets/images/logo.png" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../../assets/images/logo-mini.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="../../../assets/images/avatar-person.svg" alt="profile" />
                            <div style="display: inline-block; vertical-align: middle;">
                                <div class="nav-profile-name">Unknown</div>
                                <div class="nav-profile-designation"></div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i> Settings
                            </a>
                            <a class="dropdown-item" id="logoutBtn">
                                <i class="mdi mdi-logout text-primary"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../pages/dashboard">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li id="manage-area" class="nav-item">
                        <a class="nav-link" href="../../../pages/area">
                            <i class="mdi mdi-image-area menu-icon"></i>
                            <span class="menu-title">Manage Area</span>
                        </a>
                    </li>
                    <li id="my-area" class="nav-item">
                        <a class="nav-link" href="../../../pages/area/view">
                            <i class="mdi mdi-image-area menu-icon"></i>
                            <span class="menu-title">My Area</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../pages/answerQuestion?page=1&per_page=10">
                            <i class="mdi mdi-message-text menu-icon"></i>
                            <span class="menu-title">Answer Question</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#user-actions" aria-expanded="false" aria-controls="user-actions">
                            <i class="mdi mdi-account-settings menu-icon"></i>
                            <span class="menu-title">Manage User</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="user-actions">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../../../pages/user">View Members</a></li>
                                <li class="nav-item"><a class="nav-link" href="../../../pages/user/pending">Pending Members</a></li>
                                <li class="nav-item"><a class="nav-link" href="../../../pages/user/update">Update Member Details</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#content-actions" aria-expanded="false" aria-controls="content-actions">
                            <i class="mdi mdi-arrow-up-bold-hexagon-outline menu-icon"></i>
                            <span class="menu-title">Manage Static Content</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="content-actions">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../../../pages/publish/audio.html">Audio</a></li>
                                <li class="nav-item"><a class="nav-link" href="../../../pages/publish/video.html">Video</a></li>
                                <li class="nav-item"><a class="nav-link" href="../../../pages/publish/images.html">Images</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">My Area</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../assets/js/constants.js"></script>
<!-- plugins:js -->
<script src="../../../vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- <script src="../../../vendors/chart.js/Chart.min.js"></script> -->
<script src="../../../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../../assets/js/off-canvas.js"></script>
<script src="../../../assets/js/hoverable-collapse.js"></script>
<script src="../../../assets/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../../assets/js/dashboard.js"></script>
<!-- <script src="../../../assets/js/data-table.js"></script>
<script src="../../../assets/js/jquery.dataTables.js"></script>
<script src="../../../assets/js/dataTables.bootstrap4.js"></script> -->
<script src="../../../assets/js/page-access.js"></script>

<script>
    $(document).ready(function() {
        let userProfile;
        try {
            userProfile = JSON.parse(localStorage.getItem('userProfile'));
            if (userProfile.userRole === 4) {
                // if the logged in user is an Area leader or General Secretary
                // 1. Fetch the logged in area leader's connected area
                $.ajax({
                    type: "GET",
                    url: `${API_BASE_URL}/area?${$.param({
                        areaLeader: userProfile._id,
                    })}`,
                    dataType: 'json',
                    cors: true,
                    contentType: 'application/json',
                    secure: true,
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("access_token", localStorage.getItem('token'));
                    },
                    success: function(response) {
                        $("<div/>")
                            .text(`Area Leader: ${response.data && response.data.data[0] && response.data.data[0].areaLeader && response.data.data[0].areaLeader.name}`)
                            .appendTo($(".main-panel .card .card-body"));
                        $("<div/>")
                            .text(`Assistant Director: ${(response.data && response.data.data[0] && response.data.data[0].assistantDirector && response.data.data[0].assistantDirector.name) || 'Not Available'}`)
                            .appendTo($(".main-panel .card .card-body"));
                        $("<div/>").text("Facilitators").appendTo($(".main-panel .card .card-body"));
                        $.each(response.data && response.data.data[0] && response.data.data[0].facilitators, function(i, item) {
                            $("<div/>")
                                .text(item.name)
                                .appendTo($(".main-panel .card .card-body"));
                        })
                    },
                    error: function(err) {
                        alert(JSON.stringify(err && err.responseJSON && err.responseJSON.data && err.responseJSON.data[0]));;
                    },
                });
            }
        } catch (err) {
            alert(err);
        }
    });
</script>

</html>